/* You can add global styles to this file, and also import other style files */
// @use "@angular/material" as mat;
// $my-custom-level: mat.define-typography-level(
//   $font-family: JetBrains Mono,
//   $font-size: 1.5rem,
// );
// @include mat.core($my-custom-level);
@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono"),
    url(./assets/Fonts/JetBrainsMono-VariableFont_wght.ttf) format("truetype");
}
html,
body {
  height: 100%;
}
* {
  font-family: "JetBrains Mono", monospace;
}
